/* Theme: faded grey and purple */
/* import font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* color variables */
:root {
  --background: #50514F;
  --bodyText: #B4ADEA;
  --headerBox: #B4ADEA;
  --headerBoxText: #50514F;
  --strongText: #59FFA0;
  --linkColor: #59FFA0;
}

/* body text and background formatting*/
body, p, ul, ol{
  color: var(--bodyText); /* body text color */
  font-size: 18px;
  background-color: var(--background); /* background color, used to be faf0e6*/
  font-family: 'Open Sans', sans-serif;
}

/* Add top margin for documents starting with paragraph text (not heading box) */
/*#rendered-md > p:first-child {*/
body {
  margin-top: 15px;
  padding-top: 0;
}

/* header image */
/*
#joplin-container-content::before{
  display: flex;
  width: 40%;
  height: 10%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  content: "";
  background: url(https://www.kxan.com/wp-content/uploads/sites/40/2017/07/rick-astley-never-gonna-give-you-up_35327903_ver1.0.jpg?w=1208&h=714&crop=1) no-repeat 0 0;
  background-size: 100%;
}
*/

/* header box formatting */
.hljs {
  border-radius: -70px;
  background: var(--headerBox); /* header box background color */
  color: var(--headerBoxText); /* header box text color */
  padding: 0;
  font-weight: 500;
  /* border-color: #a2a9b1;
  border-width: 0.25; */
}

/* code text formatting */
code {
  font-family: 'Open Sans', sans-serif;
}

/* code in header box padding*/
pre.hljs {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

/* get rid of automatic code color formatting*/
span.hljs-literal, span.hljs-keyword, span.hljs-number, span.hljs-operator, span.hljs-string, span.hljs-regexp, span.hljs-attribute, span.hljs-comment, span.hljs-built_in, span.hljs-symbol, span.hljs-variable, .hljs-title, .hljs-title.function_, .hljs-type {
  color: var(--headerBoxText); /* header box text color */
  font-style: normal;
}

/* bold text color*/
strong {
  color: var(--strongText);
}

/* horizontal line formatting*/
hr {
  border: none;
  border-bottom: 2px solid var(--bodyText); /* horizontal line color */
}

/* block quote formatting*/
blockquote {
  border-left: 3px solid var(--bodyText); /* block quote line/border color */
}

/* change bullet point icons ☆✶ */
/* first line */
ul {
  list-style-type: '✦ ';
}

/* second line */
ul ul {
  list-style-type: '✧ ';
}

/* third line */
ul ul ul {
  list-style-type: '✦ ';
}

/* third line */
ul ul ul ul {
  list-style-type: '✧ ';
}

/* Inline code formatting */
code.inline-code {
  border-radius: 0;
  border-color: var(--headerBox);
  background-color: var(--headerBox);
  color: var(--headerBoxText);
  font-family: monospace;
}

/* image formatting */
img {
  display: flex;
  max-height: 85vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

a {
  color: var(--linkColor);
}

/* Redact module */
redact {
  white-space: pre-wrap;
  text-security:disc;
  -webkit-text-security:disc;
  -mox-text-security:disc;
  word-break: break-all;
  user-select: none;
  background-color: var(--bodyText);
  margin-left: 0.0em;
}

redact[reason]::before {
  text-security: none !important;
  -webkit-text-security: none !important;
  -mox-text-security: none !important;
  content: "[Redacted: " attr(reason) "] ";
  /*font-style: italic;*/
  padding-left: 0.35em;
  background-color: var(--bodyText) !important;
  color: var(--background) !important;
  visibility: visible !important;
  word-break: normal;
}

redact.spoiler {
  text-security: none !important;
  -webkit-text-security: none !important;
  -mox-text-security: none !important;
  user-select: none;
  background-color: var(--bodyText);
  margin-left: 0.0em;
  word-break: normal;
}

redact.spoiler[warning]::before {
content: "[CW: " attr(warning) " - Hover/tap to reveal] ";
/*font-style: italic;*/
visibility: visible !important;
word-break: normal;
background-color: var(--bodyText);
color: var(--background);
}

redact.spoiler:hover {
  text-security: none !important;
  -webkit-text-security: none !important;
  -mox-text-security: none !important;
  background-color: var(--background) !important;
  color: var(--bodyText) !important;
  word-break: normal;
  cursor: pointer;
}

redact.spoiler[warning]:hover::before {
  text-security: none !important;
  -webkit-text-security: none !important;
  -mox-text-security: none !important;
  background-color: var(--background) !important;
  /*color: var(--bodyText) !important;*/
  word-break: normal;
}

/* Redact flags -----
---Display like normal---
text-security: none !important;
-webkit-text-security: none !important;
-mox-text-security: none !important;
background-color: var(--background) !important;
color: var(--bodyText) !important;
word-break: normal;

---Redact---
white-space: pre-wrap;
text-security:disc;
-webkit-text-security:disc;
-mox-text-security:disc;
word-break: break-all;
user-select: none;
background-color: var(--bodyText);
margin-left: 0.0em;

---Hide---
text-security:disc;
-webkit-text-security:disc;
-mox-text-security:disc;
display: none !important;

*/

[flag~="drugs"] {
  white-space: pre-wrap;
  text-security:disc;
  -webkit-text-security:disc;
  -mox-text-security:disc;
  word-break: break-all;
  user-select: none;
  background-color: var(--bodyText);
  margin-left: 0.0em;
}

[flag~="sex"], [flag~="NSFW"], [flag~="nsfw"] {
  text-security: none !important;
  -webkit-text-security: none !important;
  -mox-text-security: none !important;
  background-color: var(--background) !important;
  color: var(--bodyText) !important;
  word-break: normal;
}

[flag~="mean"] {
  text-security: none !important;
  -webkit-text-security: none !important;
  -mox-text-security: none !important;
  background-color: var(--background) !important;
  color: var(--bodyText) !important;
  word-break: normal;
}

.hidden {
  text-security:disc;
  -webkit-text-security:disc;
  -mox-text-security:disc;
  display: none !important;
}

redactFile {
  visibility: hidden;
  position: absolute;
}

redactFile::before {
  position: relative;
  visibility: visible;
  content: "[File removed]";
  font-style: italic;
  font-size: 16px;
}

redactFile.hidden::before {
  position: absolute;
  visibility: hidden !important;
  content: "" !important;
  font-style: italic;
  font-size: 0px;
}

/* Hover module */
hoverContent {
  color: var(--linkColor);
  position: relative;
  width: 100%;
}

hoverContent:before {
  content: attr(content);
  visibility: hidden;
  opacity: 0;
  display: block;
  width: max-content;
  overflow-x: visible;
  max-width: 60vw;
  background-color: var(--headerBox);
  color: var(--headerBoxText);
  font-size: 14px;
  text-align: center;
  border-style: solid;
  border-color: var(--background);
  border-width: 10px;
  padding: 0px 5px 0px 5px;
  /*transition: opacity 0.5s ease-in-out;*/
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 110%;
}

hoverContent:hover::before {
  opacity: 1;
  visibility: visible;
}

/* Time-passing ellipse */
timePassing {
  width: 100vw;
  position: relative;
}

timePassing::before {
  content: "✦   ✦   ✦";
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: var(--bodyText);
  /*line-height: 0.25em;*/
}

/* do not print note title */
.exported-note-title {
	display: none !important;
}

/* Unused code */

/* change list line spacing */
/*
ul, ol {
  line-height: ;
}
*/
